<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
<title>홈 화면</title>
</head>
<body>

<!-- container -->
<div class="container">
	
	<form action="/members/new" method="post">
		<div class="form-group">
			<lable for="name">이름</lable>
			<input type="text" id="name" name="name" placeholder="이름을 입력하세요."> 
		</div>
		<button type="submit">등록</button>
	</form>
	
</div>
<!-- container -->

</body>
</html> 
</html>